[submodule "safe_control"]
	path = safe_control
	url = https://github.com/tkkim-robot/safe_control.git
	branch = ros2_vicon
[submodule "seamlis"]
	path = seamlis
	url = https://github.com/tkkim-robot/seamlis.git
	branch = ros2_vicon
