[submodule "safe_control"]
	path = safe_control
	url = https://github.com/tkkim-robot/safe_control.git
	branch = ros2_vicon
[submodule "/home/dasc-group/rahul/px4_quad/px4_quad_exp/seamlis"]
	path = /home/dasc-group/rahul/px4_quad/px4_quad_exp/seamlis
	url = https://github.com/tkkim-robot/seamlis.git
	branch = ros2_vicon
